SPRING_PROFILES_ACTIVE=prod

POSTGRES_DB=dungcony
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/dungcony
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123456

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=

JWT_SECRET=local-docker-jwt-secret-change-me-32chars

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

PUBLIC_APP_BASE_URL=http://localhost:8080

PAYOS_ENABLED=false
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_BASE_URL=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
PAYOS_EXPIRED_MINUTES=15
ORDER_PAYMENT_TIMEOUT_SCAN_DELAY_MS=60000

CLOUDINARY_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_FOLDER=dungcony
CLOUDINARY_MAX_FILE_SIZE_BYTES=10485760
